{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <div class="col-md-7">
        <canvas id="myChartline"></canvas>
    </div>
    <div class="col-md-7">
        <canvas id="myChartline_1"></canvas>
    </div>
    <div class="col-md-7">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">*</th>
                    <th scope="col">ID</th>
                    <th scope="col">TIME</th>
                    <th scope="col">Temperature</th>
                    <th scope="col">Humidity</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>TMSUSER_1</td>
                    <td>11:24</td>
                    <td>13.8</td>
                    <td>90.5</td>
                    <td style="color:green;">Normal</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>TMSUSER_2</td>
                    <td>11:25</td>
                    <td>14.1</td>
                    <td>90.5</td>
                    <td style="color:green;">Normal</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>TMSUSER_3</td>
                    <td>11:26</td>
                    <td>14.9</td>
                    <td>90.5</td>
                    <td style="color:green;">Normal</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>TMSUSER_4</td>
                    <td>11:27</td>
                    <td>15.1</td>
                    <td>90.5</td>
                    <td style="color:red;">Warning</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>TMSUSER_5</td>
                    <td>11:28</td>
                    <td>13.8</td>
                    <td>90.5</td>
                    <td style="color:red;">Warning</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block extra_script %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>


    var endpoint = 'api';

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            drawLineGraph(data, 'myChartline');
            drawBarGraph(data, 'myChartBar');
            console.log("drawing");
        },
        error: function (error_data) {
            console.log(error_data);
        }
    })

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            drawLineGraph_1(data, 'myChartline_1');
            drawBarGraph(data, 'myChartBar');
            console.log("drawing");
        },
        error: function (error_data) {
            console.log(error_data);
        }
    })


    function drawLineGraph(data, id) {
        var labels = data.labels;
        var chartLabel = data.chartLabel;
        var chartdata = data.chartdata;


        var ctx = document.getElementById(id).getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create 
            type: 'line',

            // The data for our dataset 
            data: {
                labels: labels,
                datasets: [{
                    label: chartLabel,
                    backgroundColor: 'rgb(255, 201, 14, 0.5)',
                    borderColor: 'rgb(255, 201, 14, 1)',
                    fill: false,
                    lineTension: 0,
                    data: chartdata
                }]
            },

            // Configuration options go here 
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },

                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            fontSize: 15,
                            min: 10,
                            max: 30,
                            stepSize: 1
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'degree'
                        }
                    }]
                }
            }

        });
    }

    function drawLineGraph_1(data, id) {
        var labels = data.labels;
        var chartLabel = data.chartLabel_1;
        var chartdata = data.chartdata_1;
        var ctx = document.getElementById(id).getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create 
            type: 'line',

            // The data for our dataset 
            data: {
                labels: labels,
                datasets: [{
                    label: chartLabel,
                    backgroundColor: 'rgb(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132, 1)',
                    fill: false,
                    lineTension: 0,
                    data: chartdata,
                }]
            },

            // Configuration options go here 
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },

                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            fontSize: 15,
                            min: 80,
                            max: 100,
                            stepSize: 1
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'degree'
                        }
                    }]
                }
            }

        });
    }
</script>

{% endblock %}